@use 'resources/scss/abstract' as *;

.modal {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
  left: 50%;
  position: fixed;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 100%;

  z-index: 50;

  //transition: .3s;

}

.modal-close {
  color: #fff;
  opacity: .5;
  transition: .3s, right 0s;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  position: absolute;
  right: -50px;

  &:hover {
    opacity: 1;
  }

  @media screen and (max-width: $md) {
    display: none;
  }
}

.modal-actions {
  border-top: 1px solid $border;
  border-radius: 0 0 4px 4px;
  display: flex;
  overflow: hidden;

  &__button {
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    height: 50px;
    justify-content: center;

    @media screen and (max-width: $md) {
      height: 40px;
    }

    @media screen and (max-width: $sm) {
      height: 30px;
    }

    &--signing {
      display: grid;
      grid-template-columns: 3fr 2fr 3fr;

      @media screen and (max-width: $md) {
        grid-template-columns: 1fr 2fr 1fr;
      }
    }

    &:hover {
      background-color: $background;
    }
  }

  &__label {
    text-align: center;
  }

  &__spinner {
    justify-self: flex-end;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;


  z-index: 40;
}

