$blue: #93b0d1;
$dark-blue: #263238;
$dark-green: #274850;

$active-blue: #80bdff;
$shadow-blue: #bfdeff;
$background-blue: #e3efff;
$icon-blue: #6081a8;
$icon-dark-blue: #3b516b;
$yellow: #ffd354;
$remove: #a93d3d;
$invalid: #db5151;
$error: #bd4949;
$shadow-red: #ffb0b0;
$background-red: #ffe3e3;
$green-blue: #4b9a8d;
$green-blue-hov: #428479;
$valid: #87c596;
$valid-text: #6cb37e;
$background-green: #ddfad9;
$text: #343a40;
$border: #e0e0e0;
$grey: #ccc;
$background: #f2f2f2;

